    .text{
        font-size: 50px;
        color: #9932CC;
        font-weight: bold;
        text-align: center;
        margin-top: 160px;
        
    }
   .textLogin{
       text-align: center;
       font-size: 25px;
       color: #cd8fec;
       margin-top: 250px;
   }
    .textInfo{
        font-size: 25px;
        color: #cd8fec;
        font-weight: bold;
        text-align: center;
        margin-top: 190px;

    }

   /*button-style*/

   .buttons{
    min-width: 400px;
    min-height: 70px;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    border-radius: 1000px;
    border-width: 3px;
    position: absolute;
    margin: -200px;
    

   }
   
   
   .button-email {
       color: rgba(255, 255, 255, 0.753);
       background: #c9b3d4;
       border-color: #9932CC;
       box-shadow: 12px 12px 24px #976688;
       margin-top: 20px;
   }
   
   /*fim do botão */
   
   
   .button-senha {
       background: #c9b3d4;
       margin-top: 130px;
       color: rgba(255, 255, 255, 0.753);
       border-color: #9932CC;
       box-shadow: 12px 12px 24px #976688;
     
   }
      
   .button-continuar {
    background: #9932CC;
    color: white;
    margin-top: 70px;
    border-color: #9932CC;
  
}
.button-cel {
    background: white;
    color: #9932CC;
    margin-top: 120px;
    border-color: #9932CC;
  
}
.button-face {
    background: white;
    margin-top: 15px;
    color: #9932CC;
    border-color: #2763e4;
  
}
.button-gmail {
    background: white;
    color: #9932CC;
    margin-top: 230px;
    border-color: #e45327;

  
  
  
}
   
      
   